In [6]:
import pandas as pd

## check in description run2 data contains previous runs

In [20]:
base_dir1 = "../Raw Data/Descriptions/Description Raw Psiturk Data Files/cmiyc_long/2023- Full Run/"
base_dir = "../Raw Data/Descriptions/Description Raw Psiturk Data Files/cmiyc_long/2022- Pilot Run/"
base_dir2 = "../Raw Data/Descriptions/Description_Consensus_Run2_data/cmiyc_long/"
filename = "trialdata.csv"

In [21]:
df1 = pd.read_csv(base_dir1+filename, header=None, comment="#")
df2 = pd.read_csv(base_dir2+filename, header=None, comment="#")
df = pd.read_csv(base_dir+filename, header=None, comment="#")

df.columns = ["ID", "Trial", "Timestamp", "Datastring"]
df1.columns = ["ID", "Trial", "Timestamp", "Datastring"]
df2.columns = ["ID", "Trial", "Timestamp", "Datastring"]

In [22]:
description1 = df1['ID'].unique()
description2 = df2['ID'].unique()
description = df['ID'].unique()

In [24]:
import numpy as np

# check membership
mask = np.isin(description1, description2)

# True if ALL elements of description1 are in description2
all_in = mask.all()

print(all_in)       # True/False
print(mask)         # element-wise check

True
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True]

In [25]:
# check membership
mask = np.isin(description, description2)

# True if ALL elements of description are in description2
all_in = mask.all()

print(all_in)       # True/False
print(mask)         # element-wise check

False
[False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False]

In [27]:
from datetime import datetime

ts_ms = 1692646134266  # example in milliseconds
dt = datetime.fromtimestamp(ts_ms / 1000)

print("DateTime:", dt)

DateTime: 2023-08-21 15:28:54.266000

In [12]:
old_data_folder = '/Users/flory/OneDrive - Johns Hopkins/Chen Lab/projects/prediction_description_consensus/data/Prediction Consensus Merged-2025-04-03 Update/'
new_data_folder = '../Cleaned Data/Prediction_Cleaned_Data/'
movie_list = ["busstop", "cmiyc_long", "keithreynolds", "theboyfriend", "therock", "theshoe"]

In [60]:
old_data_folder = '/Users/flory/OneDrive - Johns Hopkins/Chen Lab/projects/prediction_description_consensus/data/Description_Consensus_Run2_data/'
new_data_folder = '../Cleaned Data/Description_Cleaned_Data/'
movie_list = ["busstop", "cmiyc_long", "keithreynolds", "theboyfriend", "therock", "theshoe"]

In [63]:
def compare_table(film,old_data_folder,new_data_folder):
    file_old = old_data_folder+film+'/raw/'+film+'_test_full.csv'
    file_new = new_data_folder+film+'_description_cleaned.csv'

    df_old = pd.read_csv(file_old)
    df_new = pd.read_csv(file_new)
    print(film)
    print(df_old["ID"].nunique())
    print(df_new["ID"].nunique())
    

    # specify the columns to compare
    keys = ["vidpath", "tag", "description_content"]
    
    # find rows in old but not in new
    diff_old = df_old.merge(df_new, on=keys, how="outer", indicator=True).query('_merge == "left_only"').drop(columns="_merge")
    
    # find rows in new but not in old
    diff_new = df_old.merge(df_new, on=keys, how="outer", indicator=True).query('_merge == "right_only"').drop(columns="_merge")
    
    # combine both differences
    diff_all = pd.concat([diff_old, diff_new], ignore_index=True)
    
    print(diff_all.shape)
    return diff_all

In [64]:
for film in movie_list:
    compare_table(film,old_data_folder,new_data_folder)

busstop
271
277
(37, 31)
cmiyc_long
271
283
(294, 31)
keithreynolds
271
281
(57, 31)
theboyfriend
270
278
(61, 31)
therock
270
279
(39, 31)
theshoe
271
277
(8, 31)

In [96]:
df=compare_table("busstop",old_data_folder,new_data_folder)

busstop
271
277
(37, 31)

In [97]:
df.columns

Index(['Unnamed: 0', 'ID_x', 'Timestamp_x', 'Trial_x', 'counterbalance_x',
       'phase', 'description_stop_x', 'paired_vid_x', 'onset_x', 'offset_x',
       'description_content', 'importance_x', 'time_x', 'tag', 'vidpath',
       'Datastring_x', 'test_trial', 'ID_y', 'OriginalID', 'Timestamp_y',
       'Trial_y', 'counterbalance_y', 'phase_type', 'description_stop_y',
       'paired_vid_y', 'onset_y', 'offset_y', 'importance_y', 'time_y',
       'Datastring_y', 'data_set'],
      dtype='object')

In [98]:
df[['description_content','ID_y','offset_y']].iloc[33:37]

                                  description_content          ID_y  offset_y
33  The woman who approached the guy at the bus st...  D2022M01_153     100.0
34  The woman started to approach the car that was...  D2022M01_153     190.0
35  After the standoff in the middle of the street...  D2022M01_153     280.0
36  The man from the car and the woman both shot e...  D2022M01_153     370.0

In [103]:
df['ID_x'].unique()

array([1051., 1169., 1191.,   nan])

In [101]:
df['ID_y'].unique()

array([nan, 'Drun2M01_497', 'Drun2M01_2013', 'D2022M01_1626',
       'D2022M01_1442', 'D2022M01_1328', 'Drun2M01_998', 'D2022M01_1949',
       'D2022M01_584', 'D2022M01_153'], dtype=object)

In [89]:
base_dir = "../Raw Data/Description Raw Psiturk Data Files/cmiyc_long/2022- Pilot Run/"
df = pd.read_csv(base_dir+'trialdata.csv', header=None, comment="#", names=["ID", "Trial", "Timestamp", "Datastring"])